# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Базы данных
*.db
*.db-journal
*.db-wal
*.db-shm

# Файлы сессий Telethon
*.session
*.session-journal

# Переменные окружения (токены)
.env

# PyCharm
.idea/
*.iml
.vscode/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Логи
*.log